.btn {
    border-radius: 200px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 45px;
    padding: .5em 1.5em;

    &--color {
        background: var(--colorTheme);
        box-shadow: var(--boxShadowTheme);
        color: #FFF;
    }

    &--white {
        background: var(--colorWhite);
        box-shadow: var(--boxShadowLight);
        color: var(--colorBlack);
    }

    &--circle {
        width: 45px;
        height: 45px;
    }
}