body {
    main,
    .navbar__btn,
    .btn--white  {
        transition: all .3s ease-out;
    }
}


body.dark {
    main {
        background: var(--colorBlack);
        color: var(--colorWhite);
    }

    .navbar__btn {
        color: var(--colorWhite);

        &:hover {
            color: var(--colorTheme);
        }

        .icon--light {
            display: none;
        }

        .icon--dark {
            display: block;
        }
    }

    .btn--white {
        background: var(--colorBlack);
        box-shadow: var(--boxShadowDark);
        color: var(--colorWhite);
    }
}